<!DOCTYPE html>
<html>
  <head>
    <title>Bioparque Estrella</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="js/header.js" type="text/javascript"></script>
  </head>
  <body>
    <header class="">
      <div class="wrapper">
        <div class="logo">
          <img src="https://i.imgur.com/yDxltgb.png" alt="Escudo Nuevo Leon" />
          DISFRUTA NUEVO LEON
        </div>
        <nav>
          <a href="index">Inicio</a>
          <a href="tours">Conoce</a>
          <a href="contacto">Contacto</a>
        </nav>
      </div>
    </header>
    <center>
      <section class="main">
        <section class="contenido">
          <article class="resumen">
            <h2 align="center">BIOPARQUE ESTRELLA</h2>
            <h3></h3>
            <figure class="principal-3">
              <img src="https://i.imgur.com/sMlUNym.jpeg" alt="Bioparque" />
              <figcaption>Bioparque Estrella, Montemorelos, N.L</figcaption>
            </figure>
            <p>Es el parque temático con Safari más grande de México, ofreciendo a sus visitantes un conjunto exclusivo de atracciones y servicios, con 300 hectáreas en el Estado de México para la diversión sana, Convivencia Familiar, Visitas Escolares, Cursos de Verano, Eventos Empresariales y Sindicales.</p>
            <p>Convive con mas de 500 ejemplares en libertad destacando especies como, Elefantes, Jirafas, Leones, Tigres, Cebras,Camellos, Hipopótamos, diferentes especies de primates y muchos mas, que puedes disfrutar en el Safari Serengeti.</p>
            <div class="precio">
              <h4 id="precio">Precios</h4><p>»Boleto Pasaporte Safari $290
                                »Boleto Pasaporte Aventura $310
                                »Bioparque Transporte Incluido $330</p>
            </div>
            <div class="horario2">
              <h4 id="horario2">Horario</h4><p class="pista">Abierto todo el año
                                Martes a Domingo
                                10 AM a 6 PM</p>
            </div>
            <br><br><br><br>
                    <h4 align="center">Boleto Pasaporte Safari</h4>
                    <p>• BUCANEROS Y LOBOS • SAFARI SERENGETI • RÍO JURÁSICO • SUBTERRANIUM • ELEFANTES • LEONES BARBARY • PARAÍSO DE JIRAFAS • SENDERO • MINI KAMBA • TEATRO MUZIKI • LAGO ZIWA • PABELLÓN AMBIENTAL • TIERRA DE DINOSAURIOS • ÁREA DE JUEGOS • MINI ZOO • PUENTE</p>
                    <h4 align="center">Boleto Pasaporte Aventura</h4>
                    <p>• BUCANEROS Y LOBOS • SAFARI SERENGETI • RÍO JURÁSICO • SUBTERRANIUM • ELEFANTES • LEONES BARBARY • PARAÍSO DE JIRAFAS • SENDERO • MINI KAMBA • TEATRO MUZIKI • LAGO ZIWA • PABELLÓN AMBIENTAL • TIERRA DE DINOSAURIOS • ÁREA DE JUEGOS • MINI ZOO • PUENTE • DESLIZADOR ANTÁRTICA</p>
                    <h4 align="center">Bioparque Transporte Incluido</h4>
                    <p align="center">TRANSPORTE IDA Y VUELTA + PASAPORTE AVENTURA</p>
            <!--Serengeti-->
            <div class="atracc-1">
              <h4 align="center">SERENGETI SAFARI</h4>
              <p>Es el corazón de Bioparque. Es un recorrido de 270 hectáreas de extensión donde, abordo del transporte Masai, podrás convivir, acariciar y alimentar a más de 800 animales en libertad de 50 especies diferentes.</p>
              <figure class="figura">
                <img src="https://i.imgur.com/vRQBNmJ.jpeg" alt="Bioparque" />
                <figcaption>Serengeti Safari, Bioparque Estrella</figcaption>
              </figure>
            </div>
            <!--Tierra de Dinosaurios-->
            <div class="atracc-1">
              <h4 align="center">TIERRA DE DINOSAURIOS</h4>
              <p>Comienza explorando las zonas de excavación descubriendo fósiles, luego entra en la selva y conoce las diversas especies, atraviesa un puente colgante y vive la adrenalina de estar frente a frente con T-Rex en movimiento.</p>
              <figure class="figura">
                <img src="https://i.imgur.com/9eSN4By.jpeg" alt="Bioparque" />
                <figcaption>Tierra de Dinosaurios, Bioparque Estrella</figcaption>
              </figure>
            </div>
            <!--Mini Zoo-->
            <div class="atracc-1">
              <h4 align="center">MINI ZOO</h4>
              <p> ¡El espacio favorito de los más pequeños! En Mini Zoo puedes entrar a jugar y cargar a nuestros animalitos. Aquí podrás encontrar cerditos, borregos, cabras, conejos, entre otros.</p>
              <figure class="figura">
                <img src="https://i.imgur.com/eoVT2EY.jpeg" alt="Bioparque Estrella" />
                <figcaption>Mini Zoo, Bioparque Estrella</figcaption>
              </figure>
            </div>
            <!--Kamba-->
            <div class="atracc-1">
              <h4 align="center">KAMBA</h4>
              <p> Vuela en nuestra tirolesa de más de 100 metros de longitud. Kamba es una atracción para los más intrépidos, en la que, desde lo alto de una máscara gigante podrás lanzarte con un arnés y sentir la adrenalina en tu cuerpo.</p>
              <figure class="figura">
                <img src="https://i.imgur.com/eTAVIzz.jpeg" alt="Bioparque Estrella" />
                <figcaption>Kamba, Bioparque Estrella</figcaption>
              </figure>
            </div>
          </article>
        </section>
        <div class="aside">
          <aside>
            <div id="marco">
              <h2 align="center" id="related">Quizá te interese</h2>
            </div>
            <div class="c-img">
              <a href="grutas">
                <img src="https://i.imgur.com/R17yvys.jpg" alt="Grutas de García"/>
                <div class="txt">
                  <h3>Grutas de García</h3>
                  <p>Bellezas que guardan las cuevas</p>
                </div>
              </a>
            </div>
            <div class="c-img">
              <a href="santiago">
                <img src="https://i.imgur.com/2oFmP02.png" alt="Santiago"/>
                <div class="txt">
                  <h3>Santiago</h3>
                  <p>Una mágica aventura llena de tradición</p>
                </div>
              </a>
            </div>
            <div class="c-img">
              <a href="caballo">
                <img src="https://i.imgur.com/viNSEn3.jpg" alt="Cola de Caballo"/>
                <div class="txt">
                  <h3>Cola de Caballo</h3>
                  <p>Un encuentro con la naturaleza inolvidable</p>
                </div>
              </a>
            </div>
          </aside>
        </div>
      </section>
    </center>
  </body>
</html>
