<!DOCTYPE html>
<html>
  <head>
    <title>Grutas de García</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="js/header.js" type="text/javascript"></script>
  </head>
  <body>
    <header class="">
      <div class="wrapper">
        <div class="logo">
          <img src="https://i.imgur.com/yDxltgb.jpg" alt="Escudo Nuevo Leon" />
          DISFRUTA NUEVO LEON
        </div>
        <nav>
          <a href="index">Inicio</a>
          <a href="tours">Conoce</a>
          <a href="contacto">Contacto</a>
        </nav>
      </div>
    </header>
    <center>
      <section class="main">
        <section class="contenido">
          <article class="resumen">
            <h2 align="center">GRUTAS DE GARCIA</h2>
            <h3></h3>
            <figure class="principal-2">
              <img src="https://i.imgur.com/I1Wc2xr.png" alt="Grutas" />
              <figcaption>Grutas de García, García, N.L</figcaption>
            </figure>
            <p>Las Grutas de García es uno de los sitios más visitados por los turistas y es uno de los principales atractivos turísticos del estado de Nuevo León. Se localiza al poniente de Monterrey aproximadamente a 35 Km. de la ciudad, está ubicado en la sierra del fraile en el municipio de García y tiene fácil acceso para todo público en su teleférico o caminando a través de las distintas rutas desde el pie de la montaña.</p>
            <p>Para accesar a ellas hay dos maneras de hacerlo. La primera es subiendo por la rampa y escaleras hasta llegar a la cima. La otra sería por teleférico.</p>
            <div class="precio">
              <h4 id="precio">Precios</h4><p>»Adultos $80
                                »Niños de 5 a 10 años $60
                            (Incluye entrada, teleférico y pabellón)</p>
              <h4 id="precio">Veredas</h4><p>
                            »Adultos $45
                            »Niños de 5 a 10 años $35</p>
            </div>
            <div class="horario2">
              <h4 id="horario3">Horario</h4><p class="pista">Temporada de Verano
                                Abierto todos los días
                                De 9 AM a 5 PM</p>
                                <p class="pista">Temporada Regular
                                Martes a Domingo
                                De 9 PM a 5 PM</p>
            </div>
            <!--Teleferico-->
            <div class="atracc-1">
              <h4 align="center">TELEFERICO</h4>
              <p>Se puede acceder a las Grutas por medio del teleférico que, tras un ascenso de 80 metros, conduce a la entrada de las grutas.</p>
              <figure class="figura">
                <img src="https://i.imgur.com/FSIHzSG.png" alt="Teleferico" />
                <figcaption>Acceso por teleférico, García, N.L</figcaption>
              </figure>
            </div>
            <!--El teatro-->
            <div class="atracc-1">
              <h4 align="center">FORMACION EL TEATRO</h4>
              <p>De las formaciones más famosas de las grutas por su impresionante tamaño y las formas que en él se encuentran.</p>
              <figure class="figura">
                <img src="https://i.imgur.com/lGkIi3M.png" alt="El teatro" />
                <figcaption>Formación El Teatro, Grutas de García</figcaption>
              </figure>
            </div>
            <!--El infierno y la gloria-->
            <div class="atracc-1">
              <h4 align="center">EL INFIERNO Y LA GLORIA</h4>
              <p>En el interior de las Grutas es posible observar “El Infierno”, un sitio denominado así por lo rugoso de las rocas y acentuado por iluminación en color rojo y “La Gloria”, que es una galería adornada de varias formaciones de estalactitas suspendidas como candilería artificial.</p>
              <figure class="figura">
                <img src="https://i.imgur.com/uGjoQYC.png" alt="Gloria" />
                <figcaption>La Gloria, Grutas de García</figcaption>
              </figure>
              <figure class="figura">
                <img src="https://i.imgur.com/Si7itBE.png" alt="Infierno" />
                <figcaption>El Infierno, Grutas de García</figcaption>
              </figure>
            </div>
          </article>
        </section>
        <div class="aside">
          <aside>
            <div id="marco">
              <h2 align="center" id="related">Quizá te interese</h2>
            </div>
            <div class="c-img">
              <a href="obispado">
                <img src="https://i.imgur.com/Tnzy7tt.png" alt="Obispado"/>
                <div class="txt">
                  <h3>Obispado</h3>
                  <p>La mejor vista de la ciudad</p>
                </div>
              </a>
            </div>
            <div class="c-img">
              <a href="bioparque">
                <img src="https://i.imgur.com/mJIQgtk.png" alt="Bioparque"/>
                <div class="txt">
                  <h3>Bioparque Estrella</h3>
                  <p>En contacto con los animales</p>
                </div>
              </a>
            </div>
            <div class="c-img">
              <a href="santiago">
                <img src="https://i.imgur.com/2oFmP02.png" alt="Santiago"/>
                <div class="txt">
                  <h3>Santiago</h3>
                  <p>Una mágica aventura llena de tradición</p>
                </div>
              </a>
            </div>
          </aside>
        </div>
      </section>
    </center>
  </body>
</html>
