<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Disfruta NL</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <script src="js/header.js" type="text/javascript"></script>
    </head>
    <body>
        <header class="">
            <div class="wrapper">
                <div class="logo">
                    <img src="https://i.imgur.com/yDxltgb.png" alt="Escudo Nuevo Leon"/>
                    DISFRUTA NUEVO LEON
                </div>
                <nav>
                    <a href="index">Inicio</a>
                    <a href="tours">Conoce</a>
                    <a href="contacto">Contacto</a>
                </nav>
                </div>
        </header>
        <!--Main-->
        <center>
        <section class="main">
            <section class="contenido">
                <article class="resumen"> 
                    <h2>Estado de Nuevo León</h2>
                    <h3>Ubicada en la región noreste de México, esta entidad ofrece una hermosa y pujante capital, un bello Pueblo Mágico y numerosos espacios naturales ideales para practicar todo tipo de actividades de aventura.</h3>
                    <figure>
                     <img src="https://i.imgur.com/eTPsCTV.jpg" alt="Cerro de la Silla"/>
                     <figcaption>Cerro de la Silla, NL</figcaption>
                    </figure>
                    <p>Se localiza en la región noreste de México; tiene vecindad con los estados de Coahuila, Zacatecas, San Luis Potosí y Tamaulipas.</p>
                    <p>Su territorio está salpicado de interesantes sitios naturales con cascadas, grutas, cañadas y montañas, ideales para el turismo de aventura. En la actualidad su capital, Monterrey, es una de las ciudades más importantes del país; allí se da una destacada actividad cultural, pues cuenta con magníficos museos y otros puntos que ameritan ser visitados.</p>
                </article>
            </section>
            <div class="aside">
                <aside>
                    <div id="marco">
                         <h2 align="center" id="related">Destacados</h2>
                    </div>
                    <div class="c-img">
                        <a href="fundidora">
                            <img src="https://i.imgur.com/UKD4rD4.jpg"/>
                            <div class="txt">
                                <h3>Parque Fundidora</h3>
                                <p>El parque más hermoso de la ciudad</p>
                            </div>
                        </a>
                    </div>
                    <div class="c-img">
                        <a href="caballo">
                            <img src="https://i.imgur.com/viNSEn3.jpg"/>
                            <div class="txt">
                                <h3>Cola de Caballo</h3>
                                <p>Un encuentro con la naturaleza inolvidable</p>
                            </div>
                        </a> 
                    </div>
                    <div class="c-img">
                        <a href="grutas">
                            <img src="https://i.imgur.com/R17yvys.jpg" alt=""/>
                            <div class="txt">
                                <h3>Grutas de García</h3>
                                <p>Bellezas que guardan las cuevas</p>
                            </div>
                        </a> 
                    </div>
                    <section class="as-right">
                    </section>
                </aside>
            </div>
            <section class="contenido">
                <article class="resumen2">
                    <div class="efecto" >
                        <h2>¿A dónde ir en Nuevo León?</h2>
                    </div>
                    <div class="fundi">
                        <a href="fundidora"> <img src="https://i.imgur.com/iMaDz13.jpg"/> 
                            <div class="descripcion">
                                <h3>Parque Fundidora</h3>
                            </div>
                        </a>
                    </div>
                    <div class="PSL">
                        <a href="psl"> 
                            <img src="https://i.imgur.com/fFoypKY.jpg"/> 
                            <div class="descripcion">
                                <h3>Paseo Santa Lucía</h3>
                            </div>
                        </a>
                    </div>
                    <div class="santiago">
                        <a href="santiago">
                            <img src="https://i.imgur.com/2oFmP02.png"/>
                            <div class="descripcion">
                                <h3>Santiago</h3>
                            </div>
                        </a>
                    </div>
                    <div class="garcia">
                        <a href="grutas">
                            <img src="https://i.imgur.com/r7HaYkM.jpg"/>
                            <div class="descripcion">
                                <h3>Grutas de García</h3>
                            </div>
                        </a>
                    </div>
                    <div class="bioparque">
                        <a href="bioparque">
                            <img src="https://i.imgur.com/mJIQgtk.jpg"/>
                            <div class="descripcion">
                                <h3>Bioparque Estrella</h3>
                            </div>
                        </a>
                    </div>
                    <div class="obispado">
                        <a href="obispado">
                            <img src="https://i.imgur.com/Tnzy7tt.jpg"/>
                            <div class="descripcion">
                                <h3>Obispado</h3>
                            </div>
                        </a>
                    </div>
                    <div class="cerro">
                        <a href="cerro">
                            <img src="https://i.imgur.com/oGOdwKq.jpg" alt=""/>
                            <div class="descripcion"> 
                                <h3>Cerro de la Silla</h3>
                            </div>
                        </a>
                    </div>
                    <div class="caballo">
                        <a href="caballo">
                            <img src="https://i.imgur.com/oGmW0kS.jpg"/>
                            <div class="descripcion">
                                <h3>Cola de Caballo</h3>
                            </div>
                        </a>
                    </div>
                </article>
            </section>
        </section>
        </center>
    </body>
</html>
