<!DOCTYPE html>
<html>
  <head>
    <title>Obispado</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="js/header.js" type="text/javascript"></script>
  </head>
  <body>
    <header class="">
      <div class="wrapper">
        <div class="logo">
          <img src="https://i.imgur.com/yDxltgb.jpg" alt="Escudo Nuevo Leon" />
          DISFRUTA NUEVO LEON
        </div>
        <nav>
          <a href="index">Inicio</a>
          <a href="tours">Conoce</a>
          <a href="contacto">Contacto</a>
        </nav>
      </div>
    </header>
    <center>
      <section class="main">
        <section class="contenido">
          <article class="resumen">
            <h2 align="center">OBISPADO</h2>
            <h3></h3>
            <figure class="principal">
              <img src="https://i.imgur.com/thbKucd.jpg" alt="Obispado" />
              <figcaption>Mirador el Obispado, Monterrey, N.L</figcaption>
            </figure>
            <p>Ubicado en la punta de la Loma de la Chepe Vera, llamada así porque a sus alrededores se encontraban las tierras de José Vera.</p>
            <p>Esta loma es conocida actualmente como el Cerro del Obispado y el palacio también es conocido como el Palacio del Obispado.</p>
            <!--Museo-->
            <div class="atracc-1">
              <h4 align="center">MUSEO DEL OBISPADO</h4>
              <p>El edificio está construido en piedra sillar, un material característico de la región, y es una de las pocas muestras de la arquitectura virreinal que aún se conservan en el noreste de México. </p>
              <p>Este edificio, conocido comúnmente como el Obispado, tiene un gran valor histórico y arquitectónico. La primera restauración se realizó en 1946 y diez años después, en 1956, fue inaugurado como museo. Hacia 1998 se repusieron los corredores y las arcadas de la fachada principal y se decoró el interior de la cúpula del oratorio</p>
              <figure class="figura">
                <img src="https://i.imgur.com/e1cnITf.jpg" alt="Obispado" />
                <figcaption>Museo del Obispado, Monterrey, N.L</figcaption>
              </figure>
              <div class="precio">
                <h4 id="precio-1">Precios</h4><p>»Entrada General $60
                            »Domingos entrada libre</p>
              </div>
              <div class="horario3">
                <h4 id="horario2">Horario</h4><p>Martes a Domingo
                               9 AM a 6 PM</p>
              </div>
            </div>
            <!--Mirador-->
            <div class="atracc-1">
              <h4 align="center">MIRADOR EL OBISPADO</h4>
                <p>El Mirador Asta Bandera, también conocido como Mirador del Obispado, está localizado en la cima del Cerro del Obispado en la ciudad de Monterrey, México. Ahí se encuentra la segunda bandera monumental más grande de México.</p>
                <p>A una altura de 775 metros sobre el nivel del mar, el mirador consiste en una explanada circular de 40 metros de diámetro con el asta bandera en su centro. Hay bancas, un pequeño estacionamiento (primeramente para gente discapacitada) y 3 jardines de tipo francés. Las instalaciones están equipadas con bebederos y tocadores.</p>
                <p>El mirador fue concebido como un paseo familiar, por lo que el camino principal hacia la cima es muy ancho y está muy bien iluminado. Los automóviles pueden pasar, pero el estacionamiento principal se encuentra a la entrada del parque.</p>
              <figure class="figura">
                <img src="https://i.imgur.com/NERr5P2.jpg" alt="Obispado" />
                <figcaption>Mirador el Obispado, Monterrey, N.L</figcaption>
              </figure>
              <div class="horario3">
                <h4 id="horario2">Horario</h4><p>Lunes a Domingo
                               8 AM a 10 PM</p>
              </div>
            </div>
          </article>
        </section>
        <div class="aside">
          <aside>
            <div id="marco">
              <h2 align="center" id="related">Quizá te interese</h2>
            </div>
            <div class="c-img">
              <a href="bioparque">
                <img src="https://i.imgur.com/mJIQgtk.jpg" />
                <div class="txt">
                  <h3>Bioparque Estrella</h3>
                  <p>En contacto con los animales</p>
                </div>
              </a>
            </div>
            <div class="c-img">
              <a href="psl">
                <img src="https://i.imgur.com/EGiyqGg.jpg" />
                <div class="txt">
                  <h3>Paseo Santa Lucía</h3>
                  <p>Embarcáte en un hermoso recorrido</p>
                </div>
              </a>
            </div>
            <div class="c-img">
              <a href="santiago">
                <img src="https://i.imgur.com/2oFmP02.jpg" />
                <div class="txt">
                  <h3>Santiago</h3>
                  <p>Una mágica aventura llena de tradición</p>
                </div>
              </a>
            </div>
          </aside>
        </div>
      </section>
    </center>
  </body>
</html>
